* {
  margin: 0;
  padding: 0;
}

nav {
  position: fixed;  /*make it sticky*/
  top: 0;
  left :0;
  width: 100%;
  z-index: 1000;
}

ul {
  list-style-type: none;
  display: flex;
  padding: 3vh;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.2); 
  backdrop-filter: blur(10px); 
  border-radius: 0 0 10px 10px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

li {
  padding: 0 2%;
}

.navLink{
    text-decoration: none;
    color: red;
    font-weight: bold;
    /* transition: background-color 0.3s ease,color 0.3 ease; */
    transition: transform 0.3s ease, background-color 0.3s ease;
    position :relative;
    display: inline-block;
}

.navLink:hover {
    color: green;
    transform: translateY(-15px);
    transform: scale(1.2);
}

.navLink:active{
    color: greenyellow;
}


.navLink::after{
    content: '';
    position: absolute;
    left: -3px;
    bottom: 0px;
    height: 2px;
    width: 0;
    background-color: rgb(255, 255, 255);
    transition: width 0.3s ease;
}

.navLink:hover::after{
    width: 115%;
}

li:last-child{
    margin-left: auto;
}

.adminLogo{
    height: 40px;
    width: auto;
}


/* li a { */
/* text-decoration: none; Remove underline from links */
/* color: #333; Text color */
/* font-weight: bold; */
/* } */
